---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>KELU - Reggae Band</title>
		<meta name="description" content="KELU - La mejor banda de reggae" />
	</head>
	<body class="bg-gradient-to-b from-slate-900 to-black text-white">
		<slot />
	</body>
</html>
